@charset "utf-8";
/* CSS Document */



@media (min-width: 1024px) and (max-width: 1279px) {   
 
 
 
.hrgmail_mainBox_innr { padding: 0 20px 0 85px;} 

.hrgmail_mainBox_outer { background:url(hrgmail_mainWrap_pic.png) no-repeat top center; background-size:100% 100%;   }

body { background:none;}


 
 
 	
} 






@media (min-width: 768px) and (max-width: 1023px) {   
 
.hrgmail_mainBox_innr { padding: 0 20px 0 85px;} 

.hrgmail_mainBox_outer{ background:url(hrgmail_mainWrap_pic.png) no-repeat top center; background-size:100% 100%;   }

body { background:none;}

.hrgmail_lftBr_inbxMenue ul li a { padding:5px;}

.hrgmail_lftBr_composBtn_out { padding: 0 5px 20px 10px; }

.hrgmail_main_leftBar_outer { width: 25%; }

.hrgmail_main_rightBar_outer {  width: 75%; }

.hrgmail_mail { padding: 10px 10px 0px 10px; }

.hrgmail_mailList {  width: 95%; }









} 

 

@media(max-width: 767px)
{
	
body { -webkit-text-size-adjust: none; }
 
 
.hrgmail_mainBox_outer { position:static;}

.hrgmail_rightContent { padding: 50px 66px; }


.hrgmail_mainBox_innr { padding-left: 30px;  }

#hrgmail_wrapper{ background:url(hrgmail_mainWrap_pic.png) no-repeat top center; background-size:100% 100%;   }

body { background:none;}

.hrgmail_main_leftBar_outer {  width: 26%; }

.hrgmail_main_rightBar_outer {width: 74%;}

.hrgmail_mail {  padding: 10px 10px 0px 10px;}

.hrgmail_mailList {width: 94%;}

}